{% extends 'base_generic.html' %}

{% block content %}


    <a href="{% url 'contacts:add-contact' %}"> Add Contact</a>
  
    {% if  contact_list %} 
    <table class="table">
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>email</th>
                
            </tr>
        </thead>
        <tbody>
            
            {% for  contact   in contact_list  %}   
            
                    
                <tr>
                    <td scope="row"><a href="{% url 'contacts:view-contact' contact.id %}">{{contact.firstname}} </a></td>
                    
                    <td>{{contact.lastname}}</td>
                    <td>{{contact.email}}</td>
                    
                </tr>
           
                {% endfor %}  
           
        </tbody>
    </table>
    {% endif %}
        
{% endblock content %}